{{#if user.permisosAdmin}}
    <!-- -----------------ADMIN ---------------- -->
<div class="container">
    <div class="row pt-5">
        <section class="col-4 col-md-2">
            <section class="card" style="background-color: #FF7582; color:white;">
                <div class="card-body text-center">
                    <p>Volver</p>
                            <a class="link-btn" href="javascript:history.back()"><button class="btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                            </svg></button></a>
                </div>
            </section>
        </section>
        <section class="col-8">
            <section class="card card-titlesb">
                <div class="row">
                    <section class="col-9">
                        <div class="card-body px-4">
                            <h3 class="card-title">Archivos de apoyo y refuerzo.</h3>
                            <p class="card-text">¡En esta sección podras publicar contenido para reforzar el aprendizaje!</p>
                        </div>
                    </section>
                    <section class="col-3">
                        <img class="img-fluid" src="/img/cursob.png" alt="Cursos" title="Cursos">
                    </section>
                </div>
            </section>
        </section>
        <section class="col-2 d-none d-sm-block">
            <section class="card" style="background-color: #6F88FC; color:white;">
                <div class="card-body text-center">
                    <script type="text/javascript">
                        var d = new Date();
                        document.write('Fecha:<br>'+d.getDate(),'/'+d.getMonth(),'/'+d.getFullYear(),'<br>Hora:<br>'+d.getHours(),':'+d.getMinutes());
                    </script>
                </div>
            </section>
        </section>
    </div>
</div>
    <!--Lista-->
    <div class="container p-4">
        <div class="row" style="margin-bottom: 20vh">
            {{#each edu}}
                <div class="col-xs-3 col-md-3 col-sm-6 p-2" >
                    <a href="{{url}}" target="_blank">
                        <div class="card text-center">
                            <div class="card-header">
                                <h3 class="card-title text-uppercase" >
                                    {{title}}
                                </h3>
                            </div>
                            <div class="card-body">
                                <img src="{{imagen}}" style="height: 10vh;">
                                <br><b>Descripción:</b>
                                <p class="m-2">{{description}}</p>
                                <b>Creado hace:</b>
                                <p>{{timeago createdat}}</p>
                                <a href="/edu/deleteA/{{id}}"><button class="btn-red">Borrar</button></a>
                                <a href="/edu/edit/{{id}}"><button>Editar</button></a>
                            </div>
                        </div></a>
                </div>
            {{else}}
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p>¿Quieres agregar nuevo contenido educativo?</p><br>
                        <p>¡Consultalo con los docentes!</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{else}}
    {{#if user.permisos}}
        <!-- -----------------DOCENTE ---------------- -->
    <div class="container">
        <div class="row pt-5">
            <section class="col-4 col-md-2">
                <section class="card" style="background-color: #FF7582; color:white;">
                    <div class="card-body text-center">
                        <p>Volver</p>
                        <a class="link-btn" href="/cursos/"><button class="btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
</svg></button></a>
                    </div>
                </section>
            </section>
            <section class="col-8">
                <section class="card card-titlesb">
                    <div class="row">
                        <section class="col-12 col-md-9">
                            <div class="card-body px-4">
                                <h3 class="card-title">Archivos de apoyo y refuerzo.</h3>
                                <p class="card-text">¡En esta sección podras publicar contenido para reforzar el aprendizaje!</p>
                            </div>
                        </section>
                        <section class="col-3 d-none d-sm-block">
                            <img class="img-fluid" src="/img/cursob.png" alt="Cursos" title="Cursos">
                        </section>
                    </div>
                </section>
            </section>
            <section class="col-2 d-none d-sm-block">
                <section class="card" style="background-color: #6F88FC; color:white;">
                    <div class="card-body text-center">
                        <script type="text/javascript">
                            var d = new Date();
                            document.write('Fecha:<br>'+d.getDate(),'/'+d.getMonth(),'/'+d.getFullYear(),'<br>Hora:<br>'+d.getHours(),':'+d.getMinutes());
                        </script>
                    </div>
                </section>
            </section>
        </div>
    </div>
        <!--Lista-->
        <div class="container p-4">
            <div class="row" style="margin-bottom: 20vh">
                {{#each edu}}
                    <div class="col-xs-3 col-md-3 col-sm-6 p-2" >
                        <a href="{{url}}" target="_blank">
                            <div class="card text-center">
                                <div class="card-header">
                                    <h3 class="card-title text-uppercase" >
                                        {{title}}
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <img src="{{imagen}}" style="height: 10vh;">
                                    <br><b>Descripción:</b>
                                    <p class="m-2">{{description}}</p>
                                    <b>Creado hace:</b>
                                    <p>{{timeago createdat}}</p>
                                    <a href="/edu/delete/{{edu_id}}/{{cursos_id}}"><button class="btn-red" style="width: 40%">Borrar</button></a>
                                    <a href="/edu/edit/{{edu_id}}/{{cursos_id}}"><button style="width: 40%">Editar</button></a>
                                </div>
                            </div></a>
                    </div>
                {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>¿Quieres agregar nuevo contenido educativo?</p><br>
                            <a href="/edu/add/{{id2}}">
                                <button>
                                    ¡Agrégalo!
                                </button>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <!-- -----------------ESTUDIANTE ---------------- -->
    <div class="container">
    <div class="row pt-5">
        <section class="col-4 col-md-2">
            <section class="card" style="background-color: #FF7582; color:white;">
                <div class="card-body text-center">
                    <p>Volver</p>
                            <a class="link-btn" href="javascript:history.back()"><button class="btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                            </svg></button></a>
                </div>
            </section>
        </section>
        <section class="col-8">
            <section class="card card-titlesb">
                <div class="row">
                    <section class="col-12 col-md-9">
                        <div class="card-body px-3">
                            <h3 class="card-title">Archivos de apoyo y refuerzo.</h3>
                            <p class="card-text">¡En esta sección podras publicar contenido para reforzar el aprendizaje!</p>
                        </div>
                    </section>
                    <section class="col-3 d-none d-sm-block">
                        <img class="img-fluid" src="/img/cursob.png" alt="Cursos" title="Cursos">
                    </section>
                </div>
            </section>
        </section>
        <section class="col-2 d-none d-sm-block">
            <section class="card" style="background-color: #6F88FC; color:white;">
                <div class="card-body text-center">
                    <script type="text/javascript">
                        var d = new Date();
                        document.write('Fecha:<br>'+d.getDate(),'/'+d.getMonth(),'/'+d.getFullYear(),'<br>Hora:<br>'+d.getHours(),':'+d.getMinutes());
                    </script>
                </div>
            </section>
        </section>
    </div>
    </div>
        <!--Lista-->
        <div class="container p-4">
            <div class="row" style="margin-bottom: 20vh">
                {{#each edu}}
                    <div class="col-xs-3 col-md-3 col-sm-6 p-2" >
                        <a href="{{url}}" target="_blank">
                        <div class="card text-center">
                            <div class="card-header">
                                <h3 class="card-title text-uppercase" >
                                    {{title}}
                                </h3>
                            </div>
                            <div class="card-body">
                                <img src="{{imagen}}" style="height: 10vh;">
                                <br><b>Descripción:</b>
                                <p class="m-2">{{description}}</p>
                                <b>Creado hace:</b>
                                <p>{{timeago createdat}}</p>
                            </div>
                        </div></a>
                    </div>

                {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>¿Quieres agregar nuevo contenido educativo?</p><br>
                            <p>¡Consultalo con los docentes!</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
{{/if}}