<div class="container p-4">
            <div class="row pt-5 mb-5">
                <section class="col-4 col-md-2">
                    <section class="card" style="background-color: #FF7582; color:white;">
                        <div class="card-body text-center">
                            <p>Volver</p>
                            <a class="link-btn" href="/cursos/edit2/{{id2}}"><button class="btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
</svg></button></a>
                        </div>
                    </section>
                </section>
                <section class="col-8">
                    <section class="card card-titlesb">
                                <div class="card-body px-4">
                                    <h3 class="card-title" align="CENTER">{{unir.title}}</h3>
                                    <p>¡En esta sección puede subir actividades de unir palabras para los estudiantes!</p>
                                </div>
                    </section>
                </section>
                <section class="col-2 d-none d-sm-block">
                    <section class="card">
                        <div class="card-body text-center">
                            <script type="text/javascript">
                                var d = new Date();
                                document.write('Fecha:<br>'+d.getDate(),'/'+d.getMonth(),'/'+d.getFullYear(),'<br>Hora:<br>'+d.getHours(),':'+d.getMinutes());
                            </script>
                        </div>
                    </section>
                </section>
            </div>
    <div class="row" >
        <div class="col-md-11 mx-auto">
            <div class="card" style="margin-bottom: 1vh">
                <div class="card-body">
                    <form action="/unir/unirComplete/{{user.id}}/{{unir.id}}" method="post">
                        <div class="form-group" style="text-align: center;">
                            <h4>Descripción: {{unir.description}}</h4>
                        </div>
                        <!--Divider-->
                        <div style="height: 2px;width: 100%;background-color: #0A50C9; margin-bottom: 10px"></div>
                        <div class="form-group" style="text-align: center">
                            <h4>Imagen 1:</h4>
                            <img src="{{unir.imagen1}}" width="40%">
                        </div>
                        <div class="form-group" style="text-align: center">
                            <h4>Indica la palabra que describe la imagen:</h4>
                            <label>
                                <select name="respuesta1">
                                    {{#each arr1}}
                                        <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>
                        <div style="height: 2px;width: 100%;background-color: #0A50C9; margin-bottom: 10px"></div>
                        <div class="form-group" style="text-align: center">
                            <h4>Imagen 2:</h4>
                            <img src="{{unir.imagen2}}" width="40%">
                        </div>
                        <div class="form-group" style="text-align: center">
                            <h4>Indica la palabra que describe la imagen:</h4>
                            <label>
                                <select name="respuesta2">
                                    {{#each arr2}}
                                        <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>
                        <div style="height: 2px;width: 100%;background-color: #0A50C9; margin-bottom: 10px"></div>
                        <div class="form-group" style="text-align: center">
                            <h4>Imagen 3:</h4>
                            <img src="{{unir.imagen3}}" width="40%">
                        </div>
                        <div class="form-group" style="text-align: center">
                            <h4>Indica la palabra que describe la imagen:</h4>
                            <label>
                                <select name="respuesta3" >
                                    {{#each arr3}}
                                        <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <button  class="btn btn-success btn-block" id="form_btn">
                                Contestar.
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>